@using ELearningV2.ViewModel
@model IndexViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<html>
<body>
    <div>
        <h1>Welcome to E-Learning!</h1>
        <p>This website is created for those who wants to learn programing.</p>
        <p>Our course will theach about the following topics:</p>
        <ul>
            <li><strong>Programing basics</strong>.</li>
            <li><strong>Web technologies</strong>. </li>
            <li><strong>Objectum oriented programing (OOP)</strong>.</li>
            <li><strong>Advanced programing</strong>.</li>
        </ul>
    </div>
</body>
</html> 